# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.out

# Sublime Text files
*.sublime-project
*.sublime-workspace

# database files
*.db

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
*.autosave
*build-GanttCal-Desktop-Debug
*build-GanttCal-Desktop-Release
*build-debug
*build-test

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# Vim swap files
# *.swp
